#section_footer {
	text-align: center;
	color: $white;
	@media screen {
		background-color: $red;
	}
	strong {font-weight: bold;}
	.wrapper--section_footer {
		@media screen {
			padding: 20px $padding;
		}
		opacity: .7;
	}
	font-size: 14px;
	.section_footer_agreement {
		line-height: 1.1em;
		color: $color1;
		font-size: 12px;
	}
@media screen and (max-width: 1023px) {
} //media
@media screen and (min-width: 1024px) {
} //media
} //#section_footer
