#section_experience {
  overflow: hidden; //to prevent page jumping
  .section_experience_icon::before {
    font-family: $font_awesome;
    font-size: 2em;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border: 2px solid $color2;
    display: block;
    text-align: center;
    border-radius: 50%;
  }
  .section_experience_icon--work::before {
    content: '\f0b1';
  }
  .section_experience_icon--school::before {
    content: '\f19d';
  }
  .section_experience_side {
    display: flex;
    flex-direction: column;
  }
  .section_experience_el {
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: $color2;
    margin: 0 0 0 25px;
    padding: 50px 0 0 25px;
    position: relative;
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      background-color: $red;
      border: 2px solid $background;
      border-radius: 50%;
      position: absolute;
      left: -8px;
      top: 52px;
      @media print {
        border-color: $color1;
        background-color: white;
        top: 16px;
      }
    }
    @media screen {
      &:last-of-type {
        padding-bottom: 15px;
      }
    }
    @media print {
      padding-top: 15px;
      margin-left: 0;
    }
  }
  .section_experience_el_title {
    font-weight: 500;
    margin-bottom: 18px;
    @media screen {
      font-size: 1.125em;
    }
    @media print {
      font-size: 0.93333em;
      margin-bottom: 5px;
    }
  }
  .section_experience_el_date {
    font-size: 0.9em;
    color: $color2;
    display: block;
    // transform: skewX(-15deg);
    margin-bottom: 15px;
    @media print {
      font-size: .9em;
    }
    &::before {
      content: '\f133';
      font-family: $font_awesome;
      margin-right: 10px;
    }
  }
  .section_experience_el_desc {
    max-width: 500px;
    @media print {
      display: none;
    }
    p {line-height: 1.6em;}
  }
  .section_experience_el_tags {
    max-width: 500px;
    margin-bottom: 8px;
    line-height: 1.4em;
    @media print {
      display: none;
    }
    span {
      font-size: 0.8em;
      background-color: $red;
      color: $white;
      font-weight: 500;
      padding: 2px 3px;
      border-radius: 3px;
    }
  }

@media screen and (max-width: 767px) {

} //media
@media screen and (min-width: 768px) {

} //media
@media screen and (max-width: 1023px) {
  .section_experience_icon--school::before {
    margin-top: 50px;
  }
} //media
@media screen and (min-width: 1024px) {
  .wrapper--section_experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section_experience_heading {
    flex-basis: 100%;
  }
  .section_experience_side {
    flex-basis: calc(50% - 15px);
  }
  .section_experience_side--left {
    @include section_experience_side_reverse;
  }
} //media
} //#section_experience
