.heading {
	font-family: $font2;
	font-size: 46px;
	font-weight: 400;
	margin-bottom: 1em;
	@media print {
		font-size: 24px;
		margin-bottom: 0;
	}
	&:not(.section_first_heading) {
		@media print {
			position: relative;
			margin-bottom: 25px;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				border-bottom: 1px solid rgba($color1, .5);
			}
		}
	}
}

.screen-only {
	@media print {
		display: none !important;
	}
}
.print-only {
	@media screen {
		display: none !important;
	}
}

