.heading {
	font-family: $font2;
	font-size: 46px;
	font-weight: 400;
	margin-bottom: 1em;
	@media print {
		font-size: 24px;
		margin-bottom: 0;
	}
	&:not(.section_first_heading) {
		@media print {
			position: relative;
			margin-bottom: 25px;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				border-bottom: 1px solid rgba($color1, .5);
			}
		}
	}
}

.screen-only {
	@media print {
		display: none !important;
	}
}
.print-only {
	@media screen {
		display: none !important;
	}
}

#backtotop {
	position: fixed;
	bottom:80px;
	right:50px;
	height:36px;
	width:36px;
	border-radius: 50%;
	box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.66);
	transition: all .3s ease;
	cursor:pointer;
	background-color: $white;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	&:hover{ opacity:.7; }
	&::after {
		color: black;
		font-family: $font_awesome;
		content: '\f062';
		font-size: 24px;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	&:not(.visible) {
		pointer-events: none;
	}
	@media (max-width: 1023px) {
		bottom: 30px;
		right: 20px;
	}
	@media print {
		display: none;
	}
} //#backtotop
